.IDIFInput {
	margin-left: 10px;
	width: 300px;
	height: 30px;
	transition: 0.25s;
	background: rgba(174, 187, 253, 0.25);
	border-radius: 10px;
	border: none;
}

.IDIFInput:focus {
	transition: 0.25s;
	background: rgba(174, 187, 253, 0.75);
}

.IDIFMainContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.IDIFSelect {
	margin-left: 10px;
	color: black;
	width: 18px;
	height: 18px;
	border: 2px solid black;
	border-radius: 3px;
	background-color: #ffffff;
}

.IDIFTitle {
	font-weight: bold;
}
