.historias-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.historias-header {
  font-size: 2em;
  margin-bottom: 10px;
}

.historias-content {
  width: 100%;
}

.search-container {
  display: flex;
  flex-direction: row;
  height: 40px;
  margin-bottom: 20px;
  gap: 20px;
  padding: 20px;
  padding-top: 0;
}

.search-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white; /* Fondo blanco para el input */
}

.create-patient-button {
  background-color: rgb(0, 91, 255); /* Color especificado */
  width: 150px;
  height: 40px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Contenedor centrado y cuadrado para las cartas */
.patients-scroll-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinea las cartas desde el inicio para evitar el espacio en blanco arriba */
  height: 550px; /* Aumenta la altura según sea necesario */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  max-width: 1000px; /* Aumenta el ancho máximo del contenedor para mostrar más cartas a los lados */
  overflow-y: auto; /* Habilita el scroll vertical */
  overflow-x: hidden; /* Oculta el scroll horizontal */
  padding: 20px; /* Aumenta el padding para mayor separación */
  border: 1px solid #ccc; /* Opcional: agrega un borde para visualización */
  border-radius: 10px; /* Opcional: redondea las esquinas del contenedor */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Opcional: agrega una sombra sutil */
  box-sizing: border-box;
}

.patients-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  padding-top: 0;
}
