.MetodosPagoContainer {
    padding: 20px;
    /* Agrega tus estilos aquí */
}

h2 {
    color: #333;
    /* Agrega más estilos según sea necesario */
}
.buttonContainer {
    display: flex;
    gap: 20px; /* Espacio entre los botones */
    margin-bottom: 20px; /* Margen inferior para separar los botones del contenido */
}