/* navBar.css */

.NavNavbar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f8f9fa; /* Cambia el fondo si es necesario */
}

/* Animaciones para la entrada y salida */
.NavNavbar-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.NavNavbar-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.NavNavbar-exit {
    opacity: 1;
    transform: translateX(0);
}

.NavNavbar-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 300ms, transform 300ms;
}

.NavLogo {
    flex-basis: 10%;
    width: 100%;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center;
    gap: 5px; /* Espacio entre logo y título */
    border-bottom: 2px solid #ebebeb;
    padding: 10px;
}

.NavLogo img {
    max-height: 50px;
}

.NavBarTitle {
    color: black;
    font-size: 1.5rem;
    margin-left: 0px; 
}

.NavContent {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 80%;
    gap: 40px;
    position: relative;
}

.nav-link {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 80%;
    border-radius: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.nav-link:hover {
    background-color: lightGray; /* Cambia el color de fondo en hover */
}

.nav-link-active {
    background-color: #AEBBFD; /* Color de fondo del enlace activo */
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.3);
}

.nav-link-img {
    width: 30px;
    height: 30px;
    margin: 0 15px;
}  

.LogoutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.LogoutButton {
    display: flex;
    align-items: center;
    background-color: #AEBBFD; /* Color de fondo del botón */
    border: 2px solid transparent; /* Borde inicial transparente */
    cursor: pointer;
    color: black; /* Color del texto en negro */
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.3); /* Sombra */
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.LogoutButton:hover {
    background-color: rgba(174, 187, 253, 0.9); /* Cambia el color de fondo en hover */
    box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.5); /* Sombra más intensa en hover */
}

.LogoutButton:active {
    background-color: rgba(174, 187, 253, 0.8); /* Cambia el color de fondo al hacer clic */
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4); /* Sombra al hacer clic */
}

.LogoutButton.active {
    border-color: black; /* Borde negro cuando está activo */
}

.LogoutButton .FaSignOutAlt {
    margin-right: 8px;
    color: black; /* Color del icono en negro */
}
