.LogContainerGeneral {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1E2025; /* Fondo gris oscuro */
}

.LogContainer {
  background-color: #f5f5f5; /* Fondo blanco */
  border-radius: 10px; /* Bordes más redondeados */ 
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); /* Sombra más suave */
  padding: 30px; /* Menos padding */
  width: 400px; /* Ancho más pequeño */
}

.LogSubContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LogContainerTitle {
  margin-bottom: 30px; /* Menos margen inferior */
}

.LogTitle {
  font-size: 24px; /* Tamaño de letra más pequeño */
  font-weight: bold;
  color: #333;
}

.LogContainerSubTitle {
  margin-bottom: 40px; /* Menos margen inferior */
}

.LogEnum {
  font-size: 14px; /* Tamaño de letra más pequeño */
  color: #666;
  margin-bottom: 8px; /* Menos margen inferior */
}

.LogSubTitle {
  font-size: 20px; /* Tamaño de letra más pequeño */
  font-weight: bold;
  color: #333;
}

.InputWrapper {
  position: relative;
  width: 80%;
  margin-bottom: 20px;
}

.PasswordInput {
  padding-right: 40px; /* Espacio para el botón de toggle */
}

.PasswordToggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px; /* Tamaño del icono */
  color: #333; /* Color del icono */
}

.PasswordToggle:focus {
  outline: none;
}

@media (max-width: 768px) {
  .LogContainerGeneral {
    padding: 20px;
  }

  .LogContainer {
    width: 100%;
    padding: 30px; /* Menos padding */
  }
}

.LogImage {
  width: 80px; 
  margin-bottom: 20px; 
}

.ErrorText {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
}
