.LogContainerGeneral {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .LogContainer {
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    padding: 50px;
  }
  
  .LogSubContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .LogContainerTitle {
    margin-bottom: 30px;
  }
  
  .LogTitle {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .LogContainerSubTitle {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .LogEnum {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .LogSubTitle {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .LogImage {
    display: none;
  }
  
  .LogRegisterLink {
    font-size: 16px;
    color: #666;
    text-decoration: none;
    margin-top: 20px;
    transition: color 0.3s ease;
  }
  
  .LogRegisterLink:hover {
    color: #333;
  }
  
  @media (min-width: 768px) {
    .LogContainerGeneral {
      justify-content: space-between;
    }
  
    .LogContainer {
      width: 50%;
      max-width: 500px;
    }
  
    .LogImage {
      display: block;
      width: 50%;
      max-width: 500px;
      height: auto;
    }
  }