.RegContainerGeneral {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #005bff;
}

.RegContainer {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  padding: 40px;
  width: 400px;
  box-sizing: border-box;
  margin: 20px;
}

.RegSubContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.RegEnum {
  font-size: 16px;
  color: #666;
}

.InputContainer {
  position: relative;
  width: 80%;
}

.PasswordContainer {
  position: relative;
  width: 80%;
}

.PasswordToggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

.InputGeneral {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 16px;
}

.messageBar {
  color: red;
  font-size: 16px;
  margin-top: 15px;
  text-align: center;
}

@media (min-width: 768px) {
  .RegContainer {
    width: 50%;
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  .RegTitle,
  .RegSubTitle {
    font-size: 22px;
  }
}

.RegErrorText {
  color: red;
  font-size: 14px;
  margin: 0;
}

.ImageUploadContainer {
  display: flex;
  justify-content: center;
}

.ImageUploadLabel {
  width: 100px;
  height: 100px;
  background-color: #d1edff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  color: #999;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}

.CameraIcon {
  font-size: 28px;
  margin-bottom: 5px;
  color: #1ea5ff;
}

.ImageUploadLabel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ImagePreview {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.RegImage {
  width: 80px;
  margin-bottom: 15px;
  left: 57px;
  top: 54px;
}

.RegBelowTitle {
  font-size: 20px;
  color: #777;
  margin: 0;
}

.RegTitle,
.RegSubTitle {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.RegRegisterLink {
  font-size: 16px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  transition: color 0.3s ease;
  font-family: "SF Pro Display Medium", sans-serif;
}

.RegRegisterSpan {
  color: #005bff;
}

.RegisterButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #005bff;
  color: white;
  border-radius: 15px;
  margin-top: 20px;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  font-family: "SF Pro Display Medium", sans-serif;
  transition: background-color 0.3s ease;
}

.RegisterButton:hover {
  background-color: #0047b2;
}

.RegisterContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
