/* ModalCreateAppointment.css */

.createAppointmentModalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.createAppointmentModalBackgroundBlur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.createAppointmentModalContent {
  position: relative;
  width: 90%;
  max-width: 400px;
  min-height: 270px;
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  /* font-family: ; */
}

.createAppointmentModalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 20px; */
  /* background-color: #f0f0f0; */
  border-radius: 4px;
}

.createAppointmentModalTitle {
  margin: 0; 
  font-size: 20px;
  font-weight: bold;
}

.createAppointmentCloseButton {
  background: #ff0000;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
}

.createAppointmentModalBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  z-index: 1;
}

.patientList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 200px; /* Altura m치xima para la lista */
  overflow-y: auto; /* Activar scroll vertical */
  border: 1px solid #ddd; /* Borde para el contenedor de la lista */
  border-radius: 4px; /* Bordes redondeados */
  background-color: white; /* Fondo blanco para la lista */
}

.patientList::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
}

.patientList::-webkit-scrollbar-thumb {
  background-color: #007bff; /* Color del scrollbar */
  border-radius: 4px; /* Bordes redondeados para el scrollbar */
}

.patientList li {
  padding: 10px;
  border-bottom: 1px solid #ddd; /* Separador entre pacientes */
  cursor: pointer;
  transition: background-color 0.2s;
}

.patientList li:hover {
  background-color: #f0f0f0;
}

.createAppointmentInputField {
  padding: 6px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  background-color: white;
  color: black;
}

.createAppointmentFilterInput {
  padding: 6px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
  background-color: white; /* Color de fondo blanco para el input de filtro */
  color: black; /* Color del texto negro */
}

.createAppointmentTimeInput {
  padding: 6px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 80px; /* Tama침o m치s corto para el input de hora */
  background-color: white;
  color: black;
}

.timeSelector {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre el input de hora y los botones AM/PM */
}

.timePeriodSelector {
  display: flex;
  gap: 5px; /* Espacio entre los botones AM y PM */
}

.timePeriodButton {
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  color: black;
}

.timePeriodButton.selected {
  background-color: #007bff;
  color: white;
}

.name-details {
  display: flex;
  justify-content: flex-start;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
}

.createAppointmentSubmitButton {
  background-color: #005bff; /* Color del bot칩n */
  border: none;
  color: white;
  height: 40px;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.labelSpacing {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}
