.resetPasswordModalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.resetPasswordModalBackgroundBlur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.resetPasswordModalContent {
  position: relative;
  width: 90%;
  max-width: 400px;
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.resetPasswordModalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}

.resetPasswordModalTitle {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.resetPasswordCloseButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff0000;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
}

.resetPasswordModalBody {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Reducción del espacio entre elementos */
  position: relative; /* Asegurar que los mensajes no tapen otros elementos */
  z-index: 1; /* Asegurarse de que el MessageBar esté por encima de otros elementos */
}

.resetPasswordInputField {
  padding: 6px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 95%;
  max-width: 100%;
  background-color: white;
}

.resetPasswordSubmitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #005bff;
  color: white;
  border-radius: 15px;
  margin-top: 10ypx;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  font-family: "SF Pro Display Medium", sans-serif;
  transition: background-color 0.3s ease;
}

.resetPasswordSubmitButton:hover {
  background-color: #0047b2;
}
