.modalCreateMedicalRestContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegúrate de que el modal esté por encima de otros elementos */
}

.modalCreateMedicalRestBackgroundBlur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modalCreateMedicalRestContent {
    position: relative;
    background: white;
    border-radius: 15px;
    width: 90%;
    max-width: 600px; /* Ajusta el ancho máximo según sea necesario */
    max-height: 90%;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modalCreateMedicalRestContent::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
}

.modalCreateMedicalRestContent::-webkit-scrollbar-thumb {
    background-color: #005bff; /* Color del scrollbar */
    border-radius: 4px; /* Bordes redondeados para el scrollbar */
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closeButton {
    background: #e74c3c;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.modalBody {
    margin-top: 20px;
}

.inputContainer {
    margin-bottom: 16px;
}

.inputContainer label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.inputContainer input {
    width: 100%;
    padding: 8px;
    border: 1px solid black; /* Borde negro */
    border-radius: 4px;
    background-color: white; /* Fondo blanco */
}

/* Estilo específico para los inputs de tipo date */
.inputContainer input[type="date"] {
    padding-right: 30px; /* Espacio para el icono */
}

/* Cambiar color del icono de los inputs de tipo date */
.inputContainer input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0%); /* Cambiar a color negro */
}

.createButton { 
    width: 100%;
    height: 40px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 20px auto 0; /* Centra el botón y agrega espacio superior */
}
