.userInfoModalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo más oscuro para mejorar la legibilidad */
}

.userInfoModalBackgroundBlur {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer; /* Cambiar el cursor al pasar sobre el fondo */
}

.userInfoModalContent {
    background: white;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    position: relative; /* Necesario para el botón de cerrar */
}

.userInfoModalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.userInfoModalTitle {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.userInfoCloseButton {
    background: #FF0000;
    color: white;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s; /* Efecto suave al pasar el ratón */
}

.userInfoCloseButton:hover {
    background: #e60000; /* Color de fondo más oscuro al pasar el ratón */
}

.userInfoModalBody {
    display: flex;
    flex-direction: column;
}

.userInfoField {
    margin-bottom: 15px;
}

.userInfoField label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600; /* Negrita para los labels */
}

.userInfoInputField {
    width: 100%;
    padding: 8px; /* Padding más grande para una mejor experiencia */
    font-size: 16px; /* Tamaño de fuente más grande */
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white; /* Asegurando que el fondo sea blanco */
}

.userInfoFileInput {
    display: none; /* Ocultar el input de archivo */
}

.userInfoSubmitButton {
    padding: 12px;
    background-color: rgba(174, 187, 253, 0.9);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

.userInfoSubmitButton:hover {
    background-color: rgba(150, 170, 240, 0.9);
}

.userInfoFirmaImage {
    width: 200px; /* Ancho horizontal */
    height: 100px; /* Alto más pequeño */
    border-radius: 8px; /* Bordes redondeados */
    object-fit: cover; /* Para que la imagen se ajuste al contenedor sin distorsionarse */
    cursor: pointer; /* Cambia el cursor al pasar sobre la imagen */
    display: block;
    margin: 0 auto;
    border: 2px solid #ccc; /* Añadir un borde gris claro */
}
