/* ModalChangePassword.css */

.changePasswordModalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.changePasswordModalBackgroundBlur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.changePasswordModalContent {
    position: relative;
    width: 90%;
    max-width: 500px;
    background: white;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.changePasswordModalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f0f0f0; /* Color gris para la barra de título */
    padding: 10px; /* Padding para la barra de título */
    border-radius: 4px; /* Bordes redondeados */
}

.changePasswordModalTitle {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.changePasswordCloseButton {
    background: #FF0000;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
}

.changePasswordModalBody {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.changePasswordInputField {
    padding: 6px; /* Reducción del padding */
    font-size: 14px; /* Tamaño de fuente más pequeño */
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 95%;
    max-width: 100%; /* Evita que se salga por la derecha */
    background-color: white;
}

.changePasswordField {
    position: relative;
}

.changePasswordField input {
    padding-right: 40px; /* Espacio para el icono del toggle */
}

.changePasswordToggleVisibility {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px;
    color: #888;
    border: none;
    background: none;
}

.changePasswordSubmitButton {
    padding: 12px;
    background-color: rgba(174, 187, 253, 0.75);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.changePasswordSubmitButton:hover {
    background-color: rgba(150, 170, 240, 0.75);
}
