.userInfoModalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    
}

.userInfoModalBackgroundBlur {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Elimina backdrop-filter */
}

.userInfoModalContent {
    background: white;
    border-radius: 8px; /* Bordes redondeados */
    padding: 30px;
    width: 90%;
    max-width: 500px; /* Mismo ancho que el modal de cambio de contraseña */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.userInfoModalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f0f0f0; /* Color gris para la barra de título */
    padding: 10px; /* Padding para la barra de título */
    border-radius: 4px; /* Bordes redondeados */
}

.userInfoModalTitle {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.userInfoCloseButton {
    background: #FF0000; /* Color de fondo para el botón de cierre */
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
}

.userInfoModalBody {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.userInfoField {
    margin-bottom: 15px;
}

.userInfoField label {
    display: block;
    margin-bottom: 5px;
}

.userInfoInputField {
    width: 100%;
    padding: 6px; /* Reducción del padding */
    font-size: 14px; /* Tamaño de fuente más pequeño */
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
}

.userInfoFileInput {
    padding: 6px; /* Añadir padding similar al de los input de texto */
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.userInfoSubmitButton {
    padding: 12px;
    background-color: rgba(174, 187, 253, 0.75);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.userInfoSubmitButton:hover {
    background-color: rgba(150, 170, 240, 0.75);
}