/* ModalDefault.css */

.modalDefaultContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalDefaultBackgroundBlur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modalDefaultContent {
    position: relative;
    width: 80%;
    max-width: 800px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.modalHeader {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
}

.closeButton {
    background: #FF0000;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
}

.modalBody {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.modalBodyContainer {
    padding: 16px;
    overflow-y: auto; 
    max-height: 60vh; 
}


.modalBodyContainer::-webkit-scrollbar {
    width: 8px; 
}

.modalBodyContainer::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}

.modalBodyContainer::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

.modalBodyContainer::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
