.createMedicineModalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.createMedicineModalBackgroundBlur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.createMedicineModalContent {
    position: relative;
    width: 100%;
    max-width: 600px; /* Tamaño máximo del modal */
    background: white;
    border-radius: 15px;
    padding: 20px; /* Padding aumentado */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 80vh; /* Altura máxima del modal */
    overflow-y: auto; /* Scroll si el contenido sobrepasa la altura */
}

.createMedicineModalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

.createMedicineModalTitle {
    margin: 0;
    font-size: 22px; /* Tamaño de fuente aumentado */
    font-weight: bold;
}

.createMedicineCloseButton {
    background: #FF0000;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
}

.createMedicineModalBody {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    z-index: 1;
}

.medicineList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 250px; /* Altura máxima de la lista */
    overflow-y: auto; /* Scroll vertical */
    border: 1px solid #ddd; /* Borde para la lista */
    border-radius: 4px; /* Bordes redondeados */
    background-color: white; /* Fondo blanco para la lista */
}

.medicineList::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
}

.medicineList::-webkit-scrollbar-thumb {
    background-color: #005bff; /* Color del scrollbar */
    border-radius: 4px; /* Bordes redondeados para el scrollbar */
}

.medicineList li {
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Separador entre medicinas */
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    justify-content: space-between; /* Alinear elementos dentro del li */
    align-items: center; /* Alinear verticalmente */
}

.medicineList li:hover {
    background-color: #f0f0f0; /* Color de fondo al pasar el ratón */
}

/* Ajustar el ancho del input de filtro */
.createMedicineInputField,
.createMedicineFilterInput {
    padding: 8px; /* Padding aumentado */
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 96%; /* Ajustar el ancho del input de filtro */
    background-color: white; /* Color de fondo blanco */
    color: black; /* Color del texto negro */
}

.createMedicineInputField {
    width: 100%; /* Ancho completo para los campos de texto */
}

/* Estilos para los títulos en el formulario de creación de medicina */
.createMedicineLabel {
    margin-bottom: 5px; /* Espacio entre el título y el input */
    text-align: left; /* Alinear texto a la izquierda */
}

.createMedicineSubmitButton,
.createMedicineToggleFormButton,
.createMedicineCloseFormButton {
    padding: 12px; /* Padding aumentado */
    background-color: #005bff; /* Color del botón */
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}

.createMedicineCloseFormButton {
    background-color: #565656;
}

.deleteMedicineButton {
    background: none; 
    border: none; 
    cursor: pointer; 
    color: rgba(0, 0, 0, 0.75); 
    font-size: 16px; 
}
 
.deleteMedicineButton:hover {
    color: rgba(255, 0, 0, 0.9); /* Color más oscuro al pasar el ratón */
}
.medicineLabel {
    display: flex; /* Usar flexbox para alinear el input */
    justify-content: flex-start; /* Alinear a la izquierda */
    margin-bottom: 10px; /* Espacio entre los campos */
}

.medicineInputField {
    padding: 8px; /* Padding aumentado */
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%; /* Ancho completo para cada input */
    background-color: white; /* Color de fondo blanco */
    color: black; /* Color del texto negro */
}
