/* Evitar el scroll en el fondo y ocultar la barra de scroll */
body.modal-open {
  overflow: hidden;
}

/* Estilos para el contenedor del modal */
.modalInvoiceContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden; /* Evita el scroll en el fondo */
}

/* Fondo del modal con desenfoque */
.modalInvoiceBackgroundBlur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1; /* Asegura que el fondo no interfiera con el modal */
}

/* Contenido del modal */
.modalInvoiceContent {
  position: relative;
  width: 80%;
  max-width: 520px;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  z-index: 1; /* Asegura que el contenido del modal esté encima del fondo */
}

.invoiceHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 20px; */
  /* background-color: #f0f0f0; */
  padding: 20px;
  border-radius: 4px;
}

.searchTitle {
  font-size: 18px;
  font-weight: bold;
}

.closeButton {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* Estilos del cuerpo del modal */
.invoiceBody {
  padding: 20px;
  padding-top: 0;
}

.modalBodyContainer {
  display: flex;
  flex-direction: column;
}

.modalSearchContainer {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.searchTitle {
  margin-right: 10px;
}

.searchInput {
  flex: 1;
  height: 40px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #ffffff;
  color: #000000;
}

/* Estilos del botón de crear factura */
.createInvoiceButton {
  background-color: #005bff; /* Color del botón */
  border: none;
  color: white;
  height: 40px;
  width: 120px;
  margin-left: 10px;
  border-radius: 10px;
  cursor: pointer;
}

/* Estilos de la lista de facturas */
.invoiceList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.invoiceItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  background-color: #f4f2f2;
  position: relative;
}

.invoiceContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 15px;
  cursor: pointer;
  background-color: #f9f9f9;
}

.invoiceContent:hover {
  background-color: #aee4fd;
}

.deleteIconn { 
  background: none; 
  border: none; 
  cursor: pointer; 
  color: rgba(0, 0, 0, 0.75); 
  font-size: 20px;
  position: absolute;
  right: 10px;
}



  
  


.deleteIconn:hover {
  color: rgba(255, 0, 0, 0.9); 
}

.itemSeparator {
  margin-top: 10px;
  border: none;
  border-top: 1px solid #ccc;
}

/* Ocultar scrollbar en Webkit browsers */
.modalBodyContainer::-webkit-scrollbar {
  display: none; /* Oculta el scrollbar en Webkit browsers */
}
